<!DOCTYPE html> 
<html>
<head>

	<title> BREAD </title>
	
	<body>

		<h1>  BREAD </h1>
		<p>Here are some key nutritional facts about bread:
Calcium
White bread is fortified with calcium and four medium slices per day would provide over 30% of the recommended daily intake of calcium which we need every day to maintain healthy bones and teeth.

Fibre
Bread, especially wholemeal, is an important source of dietary fibre which helps to keep our digestive system healthy, helps control blood sugar and cholesterol levels and makes us feel fuller for longer.

Protein
Bread is a low fat source of protein which is required by our bodies for growth, renewal and repair.

Vitamins & Other Minerals
Bread contains a wide range of vitamins and minerals including B group vitamins thiamine (B1), Niacin (B3) which are important for releasing energy from food and maintaining healthy skin, eyes and nails. It contains the B vitamin Folate (Folic Acid) which is important for pregnancy as it can help to prevent neural tube defects such as spina bifida.
 
 Energy
Bread is relatively low in calories. An average medium slice of white bread contains 77 calories, brown contains 72 calories and wholemeal contains 79 calories.

Fat
Bread is a low fat food. An average medium slice of white bread contains 0.6g of fat, brown bread contains 0.7g and wholemeal contains 0.9g. Just be careful with what you put on it and stick to healthy options for spreads and toppings.

Sugar
Most breads are low in sugar which is important for healthy teeth and maintaining a healthy weight. </p>

	</body>
</head>
</html>