<!DOCTYPE html> 
<html>
<head>

	<title> Egg </title>
	
	<body>

		<h1>  EGG </h1>
		<p>Eggs contain decent amounts of vitamin D, vitamin E, vitamin K, vitamin B6, calcium and zinc This comes with 77 calories, 6 grams of protein and 5 grams of healthy fats,Eggs also contain various trace nutrients that are important for health.In fact, eggs are pretty much the perfect food. They contain a little bit of almost every nutrient you need.If you can get your hands on pastured or omega-3 enriched eggs, these are even better. They contain higher amounts of omega-3 fat and are much higher in vitamin A and E (2, 3).</p>
	</body>
</head>
</html>