<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/style.css">



</head>
<body>
    <h1>Wellcome to my online supermarket!!</h1>
    <p>How can i help you?</p>
    <h2>products</h2>

    <a href='/milk'>

    <img scr="milk.jpg">
</a>

    <a href='/egg'>

    <img src="egg.jpg">
</a>

    <a href='/bread'>

    <img src="bread.jpeg">
</a> 

    <a href='/meat'>

    <img scr="meat.jpeg">    
</a>

    <ul>
        {% for product in products %}
        <li> {{product}} </li>
        {% endfor %}
    </ul>




</body>
</html>