<!DOCTYPE html> 
<html>
<head>

	<title> MEAT </title>
	
	<body>

		<h1> MEAT </h1>
		<p>Meat is the flesh or organs of an animal consumed as food. In most parts of the world, it comes from animals raised on large industrial farms.

		Meat comes from animals and is classified as either red or white, depending on the source. Processed meats have been modified with additives to enhance flavor.
	    Meat is a rich source of protein and several vitamins and minerals, including vitamin B12, niacin, and selenium.
     Meat cooked at high temperatures has been linked to cancer-causing compounds. Yet, cooking methods’ effects on cancer risk are unclear. When nitrates are ingested, they’re converted into nitrites, which may be associated with increased cancer risk.
     Processed meats are linked to cancer, with the strongest evidence linking it to colorectal cancer. Red meat is probably carcinogenic.</p>
	</body>
</head>
</html>