<!DOCTYPE html> 
<html>
<head>

	<title> MILK</title>
	
	<body>

		<h1> MILK </h1>
		<p>The amount of milk that is considered a “high” or “low” intake can vary among populations studied.
		 For example, people from Japan tend to drink about less than half of the milk consumed in Western countries[2]
    Are different classifications of milk included, or just one type? Whole, reduced-fat, fat-free, or organic?
    The composition of milk (fat, protein from varying amino acids) may differ depending on the breed and feed of the cows.
    Are other factors in the diet considered, such as if the participants are eating plenty of fruits and vegetables, or large amounts of processed meat or refined carbohydrates, which can confound the true health effects of milk?Different forms of dairy foods, such as cheese, or yogurt, may have health effects different than milk.


	</body>
</head>
</html>